@import "tailwindcss";

body {
  @apply bg-zinc-900;
}

@layer utilities {
  @keyframes stroke {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }

  .animate-circle {
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }

  .animate-check {
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.6s forwards;
  }

  .loading-spinner {
    animation: rotate 1.5s linear infinite;
    transform-origin: center;
  }
}